.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

:root {
  /* --background: #1e293b; */
  /* --background: #0c1114; */
  --background: #161719;
  --border: #344051;
  /* --hovercon: #101825; */
  --hovercon: #334155;
  --recieverBack: #21252a;
  --recieverBorder: #373a3e;
  --inputBack: #323337;
}
