.Ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-family: Human BBY, Arial, sans-serif;
  list-style: none;
  padding-left: 0;
}

.Li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.img {
  fill: #0046be;
  margin-top: 2px;
  margin-right: 16px;
  min-width: 24px;
}
.para {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: -10px;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
